<div id="reference">
  <details name="description">
    <summary>App Description</summary>
    <div class="summary-copy">
      <p>📝 - Write your message!</p>
      <p>🔐 - It gets encrypted and stored on our database.</p>
      <p>🔗 - The link provided is the only way to get to the message.</p>
      <p>💥 - It will self-destruct after after 24 hours (or whatever you choose).</p>
      <p>👀 - If the message hasn't self-destructed, then it can be view once with the link.</p>
      <p>🦾 - You can add a passkey for extra peace of mind.</p>
      <p>😄 - Enjoy!</p>
    </div>
  </details>
  <details name="qna">
    <summary>How are messages stored and deleted?</summary>
    <div class="summary-copy">
      <p>When a message is sent, it gets encrypted then stored on our database.</p>
      <p>When a message is opened or expired, the message <strong>content</strong> gets deleted from our database.</p>
      <p>We hold on to message attributes, so the sender or recipiant of the message can see if and when it was opened.</p>
    </div>
  </details>
  <details name="about">
    <summary>About Me</summary>
    <div class="summary-copy">
      <p>This site was made be me, <a href="http://www.billlaaayyy.dev" target="_blank">billlaaayyy</a>. I am making a small portfolio of web utilities that anyone can use. Check out the <a target="_blank" href="https://gitnub.com/FatCatLikesBeer/php-secret-service">source code on GitHub</a>.</p>
      <p><?php echo SITE_NAME; ?> was made specifically because I heard PHP was bad and I wanted to see for myself.</p>
    </div>
  </details>
  <details name="license">
    <summary>License and Technologies</summary>
    <div class="summary-copy">
      <p>Since I've used icons from <a href="https://icons.getbootstrap.com/" target="_blank"></a>Bootstrap icons</a>, I'm putting this here. This project uses Bootstrap, licensed under the MIT License. Copyright (c) 2025 Bootstrap Authors. License information can be found on <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank">GitHub</a></p>
      <p><a href="https://phprouter.com/" target="_blank">PHP ROUTER</a></p>
    </div>
  </details>
</div>

